




@mixin font-face($family,$src,$weight: normal,$style: normal) {
@font-face {
font-family: $family;
src: url('#{$src}.eot'); // IE9 compat
src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
url('#{$src}.woff') format('woff'), // standards
url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

    font-style: $style;
    font-weight: $weight;
}
}



@mixin t1 {
  font-size: 120%;
}


@mixin t2 {
    
    font-size:140%;
}

@mixin t3 {
    font-size:160%;
}


@mixin s1 {
    font-size:90%
}

@mixin s2 {
    font-size:70%;
}

@mixin t3 {
    font-size: 50%;
}

